/* Стилизация кнопки */
.button {
  border-radius: 8px;
  height: 48px;
  width: 189px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  cursor: pointer;
  color: var(--white);
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button-primary {
  background-color: var(--primary);
}
.button-primary.button-hover:hover,
.button-primary.button-hovered {
  background-color: var(--primary-2);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-secondary.button-hover:hover,
.button-secondary.button-hovered {
  background-color: var(--secondary-2);
}

.button-alternate {
  background: none;
  border: 1px solid var(--alternate);
  color: var(--alternate-2);
}
.button-alternate.button-hover:hover,
.button-alternate.button-hovered {
  border: 2px solid var(--alternate-2);
}

.button-disabled,
.button-disabled:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
