.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-background-color);
  z-index: var(--modal-z-index);
}

/* .modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--grey-2);
  opacity: 0.5;
} */
.modal__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 428px;
  min-height: 294px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  padding: 30px 40px 33px;
}

.modal__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: flex-end;

  color: var(--dark-blue);
}
.modal__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--grey-4);
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
}
