.skeleton {
  width: 100%;

  background: var(--white);

  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.5rem 2.5rem 1.5px 1.5rem;
}
.skeleton__header {
  display: flex;
  align-items: center;
  justify-content: start;
}
.skeleton__header-avatar {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  background: var(--grey-2);
  border-radius: 50%;
}

.skeleton__caption {
  margin-left: 1rem;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.skeleton__item {
  height: 20px;
  width: 100%;
  background: linear-gradient(
    92.51deg,
    var(--grey-2) 6.44%,
    var(--grey-5) 38.47%,
    var(--grey-6) 56.48%,
    var(--grey-7) 77.5%,
    var(--grey-2) 102.52%
  );
}
.skeleton__item-small {
  width: 75%;
}
.skeleton__item-smaller {
  width: 50%;
}

.skeleton__body {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.skeleton__item:not(:last-child) {
  margin-bottom: 8px;
}
